/*
 * Empty Stylesheet file.
 */
/*@font-face {
    src: url("/org/angelreyes/resources/RobotoMono-SemiBold.ttf");
}
.Label {
    -fx-font-family: "Roboto Mono";
}*/
.anchorpane{
    -fx-background-color: linear-gradient(to right, #577FDB, #53555C);
}
.QuadCurve {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 10, 0.5, 0, 2);
}
.CubicCurve {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 10, 0.5, 0, 2);
}
.ellipse{
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 10, 0.5, 0, 2);
}
.anchor-pane{
    -fx-background-color: linear-gradient(to right, lightblue, white);
}
.boton-transparente{
    -fx-background-color:#626d86;
}
.boton-transparente:hover{
    -fx-cursor: hand;
}
.boton-transparente:pressed{
    -fx-background-color:#6699ff;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,5.2), 10, 0.0, 0, 1);
}